<div class="container mx-auto d-flex justify-content-center">
  <div class="col-7 d-flex justify-content-center mt-5">
    <mat-card>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Iniciar sesión">
            <app-form-sign-log type="login" title="Ingresa tus datos" [formGroup]="login"
              buttonMessage="Iniciar sesión"></app-form-sign-log>
          </mat-tab>
          <mat-tab label="Registrar">
            <app-form-sign-log type="register" title="Ingresa tus datos" [formGroup]="register"
              buttonMessage="Registrarse"></app-form-sign-log>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>

  </div>
</div>
