<div class="container mx-auto">
  <div class="d-flex flex-row justify-content-center">
    <div class="d-flex flex-column col-5 px-4 py-3">
      <mat-card>
        <mat-card-content>
          <div class="d-flex mb-2">
            <h2>¿Olvidaste tu contraseña?</h2>
          </div>
          <div class="d-flex flex-column mb-2">
            <ng-container *ngIf="!showMessage; else message">
              <mat-form-field class="w-full py-3">
                <input matInput type="email" placeholder="Ingresa tu Correo Electrónico" [formControl]="emailCtrl"
                  email>
                <mat-error *ngIf="emailCtrl.hasError('required')">
                  Correo electrónico es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
              <button mat-raised-button color="primary" type="button" (click)="resetPassword()"
                [disabled]="emailCtrl.errors">Iniciar
                sesión</button>
            </ng-container>
            <ng-template #message>
              <div class="d-flex flex-column mb-2">
                <p class="h5 text-center text-secondary">¡Hemos enviado un correo a <span
                    class="text-dark"><strong>{{emailCtrl.value}}</strong></span> para que puedas
                  recuperar tu
                  contraseña!
                </p>
              </div>
              <div class="d-flex flex-row justify-content-center mb-2">
                <button mat-raised-button type="button" color="primary" (click)="goBack()">Ir a Iniciar Sesión</button>
              </div>
            </ng-template>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
