<div class="d-flex flex-column col h-100 product" (click)="goToDetail(product)">
  <div class="d-flex flex-column w-100 mb-2 position-relative align-items-end">
    <img class="img-fluid" [src]="product.fullImage" alt="product.name">
    <ng-container *ngIf="product.prices.discountPercentage">
      <div class="position-absolute discount">
        <p>{{ product.prices.discountPercentage }} %</p>
      </div>
    </ng-container>
  </div>
  <div class="d-flex flex-column mb-2">
    <p class="text-weight-bold text-uppercase brand">{{ brand }}</p>
  </div>
  <div class="d-flex mb-2">
    <p class="text-secondary name">{{ product.name }}</p>
  </div>
  <div class="d-flex flex-column">
    <p [class.lowest-price]="!product.prices.offerPrice && !product.prices.cardPrice"
      [class.list-price]="product.prices.offerPrice">{{ product.prices.listPrice | currency:'CLP'}}</p>
    <p [class.lowest-price]="!product.prices.cardPrice" [class.offer-price]="product.prices.cardPrice">
      {{ product.prices.offerPrice | currency:'CLP' }}</p>
    <p *ngIf="product.prices.cardPrice" class="lowest-price">{{ product.prices.cardPrice | currency: 'CLP' }}</p>
  </div>
</div>
